#barnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#barnav li {
    display: inline;
    float: left;
}

#barnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#barnav li a:hover {
    background-color: #111;
}
  