/**************************************/
/************ GENERAL *****************/
/**************************************/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&family=Gentium+Book+Basic:ital@1&display=swap');

body, html {
    margin:0;
    padding:0;
    width: 100vw;
}

/* Barra de navegació */
#barnav {
    width: 100vw;
    position: fixed;
    top:0;
    z-index:1;
}

#navbar-responsive {
    display: none;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    #navbar-responsive {
        display: block;
        cursor: pointer;
    }

    #navbar {
        display: flex;
        transition: opacity 1s ease-in-out, height 1s ease-in;
        opacity: 0;
        height: 0;
    }

    .topnav.responsive {position: relative;}

    .topnav.responsive #navbar {
        display: flex;
        flex-direction: column;
        justify-content: left;
        opacity: 1;
        height: auto;
    }
}

#barnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Fredoka One', cursive;
}

#barnav li {
    display: inline;
    float: left;
}

#barnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#barnav li a:hover {
    background-color: #111;
}

/* Capçalera de les pàgines */

#capsalera {
    position: relative;
    text-align: center;
}

#capsalera img {
    height: 30vh;
    width:92vw;
    object-fit: none;

}

#capsalera #titol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    font-family: 'Fredoka One', cursive;
    font-size: 4.5vw;
    text-shadow: 2px 0 0 #fff, 
                -2px 0 0 #fff, 
                0 2px 0 #fff, 
                0 -2px 0 #fff, 
                1px 1px #fff, 
                -1px -1px 0 #fff, 
                1px -1px 0 #fff, 
                -1px 1px 0 #fff;
}

@media screen and (max-width: 992px) {
    #capsalera #titol {
        font-size: 3em;
    }
}

/*Footer*/

footer {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 2rem;

    width: 100vw;
    height: 55px;

    background: #222222;
    border: 1px solid #982C2C;
}

footer img {
    width: 40px;
    height: 32px;
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
}

footer a {
    text-decoration: none;
}

/* Seccions */
section {
    padding-bottom: 2rem;
}
/**************************************/
/************ CV.HTML *****************/
/**************************************/

#index {
    text-align: center;
}

#curriculum {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.5em;
}

#curriculum > div > div {
    padding-left: 5%;
    padding-right: 5%;
}

#curriculum h2 {
    text-align: center;
    background-color: #85C1E9;
    font-family: 'Acme', sans-serif;
}

#curriculum ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#curriculum li {
    padding: 5px;
}

#curriculum li a {
    text-decoration: none;
}

#contenidorDades {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

#foto img{
    height: 150px;
}

.estudi, .treball{
    padding-bottom: 1.5rem;
}

.estudi .nom {
    background-color: #f9d4f8;
}

.treball .nom {
    background-color: #f9d4e0;
}

.descripcio, .lloc {
    padding-top: 0.5rem;
}

#idiomes #taula {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 365px;
}

#idiomes #taula thead tr {
    background-color: #005698;
    color: #ffffff;
    text-align: center;
}

#idiomes #taula th,
#idiomes #taula td {
    padding: 12px 15px;
    text-align: center;
    font-weight: bold;
}

#idiomes #taula tbody tr {
    border-bottom: 1px solid #dddddd;
}

#idiomes #taula tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#idiomes #taula tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/********************************************/
/************ CONTACTE.HTML *****************/
/********************************************/

#contingut {
    width: 100vw;
}

#formulari {
    width: 60vw;
    margin:0 auto;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.5em;
    padding-bottom: 10px;
}

#formulari ::placeholder {
    font-family: 'Gentium Book Basic', serif;
    font-size: 1em;
}

.entrada {
    color:gray;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    margin-bottom: 5px;
  }
  
  .entrada:focus { 
      border:3px solid #CC4949; 
    }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    margin-top: 10px;
  }
  [type="submit"]:hover { 
      background:#CC4949;
    }

/********************************************/
/************ INDEX.HTML *****************/
/********************************************/

/* Contingut */
#contingut_index {
    margin: 0 10%;
}
/* Introducció */
#int_cont {
    display: flex;
    flex-direction: row;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.5rem;
}
#int_cont img {
    align-self: center;
    height: 15rem;
}

#descripcio {
    flex-grow: 2;
}

@media screen and (max-width: 992px) {
    #int_cont {
        flex-direction: column-reverse;
    }
}

/* Projectes */

#proj_list{
    display: flex;
    flex-direction: row;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.2em;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    #proj_list {
        flex-direction: column;
        align-items: center;
    }
}

.proj_nom {
    background-color: #555;
    font-size: 1.25em;
    font-family: 'Fredoka One', cursive;
    color:white;
}

.projecte{
    width: 20vw;
    min-width: 300px;
    display:flex;
    flex-direction: column;
    align-items:stretch;
    justify-content:space-between;
    justify-items: center;
    text-align: center;
    justify-self: center;
    border-radius: 15px;
    overflow: hidden; /* Perquè la imatge de dintre no se'n surti del border-radius */
    border: 1px black solid;
    box-shadow: 0 0 10px black;
    margin-bottom: 20px;
}

.projecte img {
    height: 25vh;
    object-fit: none;
    object-position: center;
}

a.button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #222;
    margin:5px auto;
    border-radius:0.12em;
    background-color: #222;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#fff;
    text-align:center;
    transition: all 0.2s;
    width: 60%;
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
a.button:hover{
    color:#111;
    background-color:#999;
}

.proj_text {
    padding: 0.5rem;
    flex-grow: 2;
}

/* Experiència en llenguatges web */
#experiencia {
    font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    background-color: #222222;
    padding: 1.5rem;
    color: white;
}

#experiencia .subtitol {
    background-color: #222222;
}

#coneixements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 2rem;
    padding-top: 2rem;
    flex-wrap: wrap;
}

/* Barres de progrés de coneixements */
@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] {
    --size: 8rem;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;

    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: var(--nom);
  }

  /* Aficions */

  #aficions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: 'Fredoka One', cursive;
    column-gap: 3rem;
    row-gap: 1rem;
  }


  .subtitol {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    background-color: #E5E8E8;
    margin: 10px 0;
  }

  .aficio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #CCD1D1;
    align-items: center;
    padding: 1rem;
  }

  .aficio img{
    height: 3rem;
  }

  @media screen and (max-width: 992px) {
    #aficions {
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr;
    }

    .aficio {
       flex-direction: column-reverse;
       align-items: center;
       text-align: center;
    }
}

/* el curriculum queda mucho padding en foramto mobile */

@media screen and (max-width: 667px) {
    #curriculum {
        margin: 0 16px;
    }

    #idiomes #taula {
        width: 100%;
    }
}


/* estilo de la caja que contiene la tabla en la vista curriculum */
.idiomes__taula-box {
    overflow: scroll;
}



/* Si no estas usando Sass (https://openwebinars.net/blog/que-es-sass-ventajas-desventajas-y-ejemplos-de-desarrollo)
deberias tener en un solo sitio todas las media queries y empezar mobile first con 3 tamaños establecidos min-width: 400, 768, 1024 y un extra para TV 1400 px */

/* Veo un abuso de ID, el para aprovechar la cascada de css, las reglas no tienen que ser tan especificas, la mejor opcion es usar clases
ya sea class functional como tiene boostrap (https://getbootstrap.com/docs/5.2/getting-started/introduction/) o BEM (https://animaticss.com/articulo/que-es-bem-css/) 
la especifidad se deja para elementos/pseudo-elemento que se pueden acceder directamente como :after, :before, ::placeholder, etc. */